body, html{
    padding: 0px;
    margin:0px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(150, 147, 143);
    font-family: 'Courier New', Courier, monospace;
}
.row{
    display: flex;
}
#rowsinput,#columnsinput{
    border-radius: 5px;
    border:1px solid green;
    outline:none;
}
.bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upper{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color:rgb(178, 255, 76);
    background-color: rgb(48, 37, 58);
}
.inputcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    background-color: rgb(156, 155, 154);
    padding-bottom: 10px;
}
#slctcolor{
    color:rgb(183, 255, 68);
    font-weight: bold;
}
.Rows,.Columns{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:brown;
}
.buttons{
    display: flex;
    gap:120px;
}
.btn{
    width:120px;
    height: 45px;
    border:none;
    border-radius: 8px;
    background-color: rgb(179, 255, 230);
    color:blueviolet;
    font-weight: bold;
    font-size: 16px;
    border:2px solid rgb(178, 255, 76);
}

.inputinfo{
    display: flex;
    justify-content: center;
    gap:10px;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  
}
.square{
    border: 1px solid rgb(190, 164, 136);
    background-color: white;
    opacity: 1;
    user-select: none;
    box-sizing: border-box;
}